<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <style>
        .second{
            display: flex;
            margin:20px 300px;
        }
        .second a{
            text-decoration: none;
            margin:20px 46px ;
            font-size: 25px;
            color: white;
            font-weight: bold;
        }
        .second a:hover{
            color: rgb(249, 216, 216);
        }
        body{
            background: url('/assets/bg7.png');
        }
        h1{
            text-align: center;
            color: red;
            margin: 30px auto;
            font-size: 2.5rem;
            font-weight: bold;
            background-color: rgb(182, 182, 248);
            width: 52%;
        }
        .con1{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: goldenrod;
            color: brown;
            margin-top: 80px;
            height: 150px;
            border: 6px solid brown;
            border-radius: 20px;
        }
        .con2{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: goldenrod;
            color: brown;
            margin-top: 20px;
            height:150px;
            border: 6px solid brown;
            border-radius: 20px;
        }
    </style>
</head>
<body>
    <%-include ("header")%>
  
    <h1 class="con1">EMAIL: ardor@gmail.com</h1>
    <h1 class="con2">SUPPORT: 49440140180</h1>
</body>
</html>