
   
    <div class="second">
        <a href="/">Home</a>
        <a href="/job">Jobs</a>
        <a href="/article/form" >Recruiter-form</a> 
        <a href="/learn">Learn</a>
        <a href="/contact">Contact</a>
    </div>
