<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ardor</title>
    <style>
       .next1 h1{
            font-size: 50px;
            width:40%;
            margin:0px auto;
            margin-top:100px;
            color: red;
            font-weight: bolder;
        }
        body{
            background:url('/assets/bg1.png');
            
        }
        .first img{
            height: 100px;
            width: 100px;
        }
        .container{
            display:flex;
            justify-content: space-between;
        }
        .second{
            display: flex;
            
        }
        .second a{
            text-decoration: none;
            margin:25px;
            font-size: 24px;
            color: black;
        }
        .second a:hover{
            color: blue;
        }
        p{
            text-align: center;
            font-size: 30px;
            margin:50px 280px;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="first">
            <img src="/assets/logo.png" alt="">
        </div>
        <div class="second">
            <a href="/">Home</a>
            <a href="/job">Jobs</a>
            <a href="/article/form" >Recruiter-form</a> 
            <a href="/learn">Learn</a>
            <a href="/contact">Contact</a>
        </div>
    </div>
    <div class="next1">
    <h1>&nbsp &nbsp HAVE YOUR WINGS,<br>BE FINANCIALLY FREE</h1>
    <p>One of the most important benefits of financial independence is that it gives you greater control over your own life.</p>
    </div>
</body>
</html>