<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Resources</title>
    <style>
        h1{
            font-weight: bold;
            color: black;
            font-weight: bold;
            font-size: 2.5rem;
            margin:10px;
            text-align: center;
        }
        .second{
            display: flex;
            margin:20px 300px;
        }
        .second a{
            text-decoration: none;
            margin:20px 40px ;
            font-size: 25px;
            color: blue;
            font-weight: bold;
        }
        .second a:hover{
            color: black;
        }
        body{
            background: url('/assets/bg4.png');
        }
        .resource a{
            display: block;
            width:40%;
            margin:25px auto;
            font-size: 2rem;
            border: 6px solid black;
            border-radius: 20px;
            text-align: center;
            text-decoration: none;
            color: white;
            background-color: rgb(246, 73, 73);
            font-weight: bold;
        }
    </style>
</head>
<body>
    <%-include ("header")%>
    <h1>UPGRADE YOUR SKILLS WITH THE BEST ONLINE RESOURCES</h1>
    
    <div class="resource">
    <a href="https://www.youtube.com/c/nishamadhulika" target="_blank">COOKING</a>
    <a href="https://www.w3schools.com/" target="_blank">WEB DEVELOPMENT</a>
    <a href="https://developer.android.com/" target="_blank">ANDROID DEVELOPMENT</a>
    <a href="https://www.coursera.org/browse/data-science" target="_blank">DATA SCIENCE</a>
    <a href="https://www.youtube.com/c/pranjalkamra" target="_blank">FINANCE</a>
    <a href="https://www.coursera.org/courses?query=blockchain" target="_blank">BLOCKCHAIN</a>
    <a href="https://www.coursera.org/learn/machine-learning" target="_blank">MACHINE LEARNING</a>
   
    </div>
</body>
</html>